@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');


h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  line-height: 1.2;
  color: #003;
}
h1:nth-of-type(odd) {
  font-size: 2rem;
}
h1:nth-of-type(even) {
  font-size: 3.5rem;
}

div.xslbook-body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
}

@media screen {
  main {
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-image: url('./sample.svg'),
      linear-gradient(0deg, #001, 30%, #dde);
  }

  h1:first-of-type {
    margin-top: 4rem;
  }

  h1 + div.xslbook-body {
    margin-top: calc(100vh - 35rem);
  }
}


@media print {
  body {
    width: 210mm;
    height: 297mm;
    background-position: 50% 55%;
    background-repeat: no-repeat;
    background-image: url('./sample.svg'),
      linear-gradient(0deg, #001, 40%, #dde);
  }

  h1:first-of-type {
    margin-top: 7rem;
  }

  h1 + div.xslbook-body {
    margin-top: calc(100vh - 35rem);
  }
}
